body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
.page {
  background: #fff;
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  position: absolute;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  /*box-shadow: inset 0px 3px 0px #A30946;*/
}

.progress {
  position: fixed;
  bottom: 2px;
  right: 2px;
  font-size: 13px;
  font-family: 'Helvetica neue', helvetica, sans-serif;
  color: rgba(125,125,125,0.75);
  z-index: 1;
}
.current-page, .divided {
  margin-right: -2px;
}
.back-notice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 70px;
  line-height: 50px;
  text-align: center;
  font-weight: 800;
  font-family: 'Helvetica neue', helvetica, sans-serif;
  background: rgba(125,125,125,0.5);
  color: #fff;
}
a {
  color: #888;
}

/* Desktop styles */
@media (min-width: 640px) {
  body {
    background: #E5E7E6;
  }
  .hide-on-desktop { display: none; }
  .page {
    width: 500px;
    height: 650px;
    margin-top: 50px;
    border-radius: 7px;
    left: 50%;
    margin-left: -250px;
    padding: 50px 60px;
    font-size: 18px;
    line-height: 28px;

  }
  .progress {
    font-size: 18px;
    bottom: 10px;
    right: 10px;
    font-weight: 500;
  }
}

/* Mobile styles */
@media (max-width: 640px) {
  .hide-on-mobile { display: none; }
  .page {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5% 8%;
    font-size: 17px;
    line-height: 23px;
  }
}

/* page-specific styles */
.pg-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.pg-title-bg {
  background-image: url(mountains.jpg);
  background-size: cover;
  background-position: 50%;
}
.pg-title-container {
  text-align: center;
  color: #fff;
  padding-top: 60px;
}
.pg-title {
  font-size: 46px;
  line-height: 56px;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 2px;
}
.pg-hero {
  display: block;
  margin: -10px 0 70px 0;
}
.pg-why, .pg-hero {
  font-size: 20px;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0px;
}
@media (max-width: 640px) {
  .pg-title {
    font-size: 32px;
    line-height: 40px;
  }
  .pg-hero {
    font-size: 16px;
    margin-top: 5px;
  }
}
.pg-porter-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(porter-speaking.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}
.pg-porter-basics li {
  margin-bottom: 10px;
}
.pg-ikea-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.pg-kant-container {
  text-align: center;
}
.pg-kant-container figcaption {
  text-align: center;
  width: 100%;
}
.pg-kant {
  width: 100%;
}

